<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{01b06226-93ec-45bd-af4b-3f1c3b05e553}</AddInID><Description>Determine Energy Grid</Description><Version>0.1</Version><Image /><Author>Jigeeshu Joshi</Author><Company>FH-M&#252;nster</Company><Date>05/31/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="Add_in_addin.py" namespace="Add_in_addin"><ArcMap>
    <Commands>
        <Button caption="Grid" category="Python Addin" class="ButtonClass1" id="Add_in_addin.btn1" image="" message="test" tip="test"><Help heading="test">test</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Energy" category="Python Addin" id="Add_in_addin.tool1" showInitially="true"><Items><Button refID="Add_in_addin.btn1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>